/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/conf
/scripts
/storage
.env
.env.backup
.env.production
.styleci.yml
Dockerfile
phpunit.xml
.dockerignore
.editorconfig
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

.vercel
