@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #C6CAD6;
    --secondary: #676d94;
    --tertiary: #a94779;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--tertiary);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
